<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Universitet | Fanlar</title>
</head>
<body>
    <h1>Fanlar Ro'yxati</h1>
    <hr>

    <form method="get">
        <input type="text" name="search" placeholder="Nom bo'yicha .."
               {% if search %}value="{{ search }}"{% endif %}>
        <button type="submit">Qidirish</button>
    </form>

    <a href="/">Bosh Sahifa</a>

    {% for fan in fanlar %}
        <p>
            {{ forloop.counter }}.
            <a href="/fanlar/{{ fan.id }}/">
                {{ fan.nom }}
            </a>
            <a href="/fanlar/{{ fan.id }}/delete/">
                <button>O'chirish</button>
            </a>
        </p>
    {% endfor %}
    <br><br>
    <form method="post">
        {% csrf_token %}

        <label for="name">Nomi:</label>
        <input type="text" name="nom" id="name" required>
        <br><br>

        <label for="main">Asosiy</label>
        <input type="checkbox" name="asosiy" id="main">
        <br><br>

        <label for="major">Yo'nalish</label>
        <select name="yonalish" id="major">
            {% for yonalish in yonalishlar %}
            <option value="{{ yonalish.id }}">{{yonalish.nom}}</option>
            {% endfor %}

        </select>
        <br><br>

    <button>Fan Qo'shish</button>
    </form>
</body>
</html>