<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Universitet | Ustozlar</title>
</head>
<body>
    <h1>Ustozlar Ro'yxati</h1>
    <hr>
    <a href="/">Bosh Sahifa</a>

    {% for ustoz in ustozlar %}
        <p>
            {{ forloop.counter }}.
            <a href="/ustozlar/{{ ustoz.id }}/">
                {{ ustoz.ism }}
            </a>
            <a href="/ustozlar/{{ ustoz.id }}/delete/">
                <button>O'chirish</button>
            </a>
        </p>
    {% endfor %}

    <hr>
<h3>Ustoz Qo'shish</h3>

    <form method="post">
    {% csrf_token %}
        <label for="name">Ism:</label>
        <input type="text" name="ism" id="name" required>
        <br><br>

        <label for="age">Yosh</label>
        <input type="number" name="yosh" id="age">
        <br><br>

        <label for="jins">Jins</label>
        <select name="jins" id="jins">
            <option value="Erkak">Erkak</option>
            <option value="Ayol">Ayol</option>
        </select>
        <br><br>

        <label for="degree">Daraja</label>
        <select name="daraja" id="degree">
            <option value="bakalavr">Bakalavr</option>
            <option value="magistr">Magistr</option>
        </select>
        <br><br>

        <label for="subject">Fan</label>
        <select name="fan" id="subject">
            {% for fan in fanlar %}
            <option value="{{ fan.id }}">{{ fan.nom }}</option>
            {% endfor %}
        </select>
        <br><br>
    <button>Ustoz Qo'shish</button>
    </form>
</body>
</html>
