<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Universitet | Yo'nalishlar Ro'yhat</title>
</head>
<body>
    <h1>Yo'nalishlar ro'yxati</h1>
    <hr>
    <a href="/">Bosh sahifa</a>
    {% for yonalish in yonalishlar %}
    <p>
        {{forloop.counter }}.
        <a href="/yona lishlar/{{ yonalish.id }}/">
            {{ yonalish.nom }}
            </a>
        <a href="/yonalishlar/{{yonalish.id}}/delete/">
            <button>O'chirish</button>
        </a>
        {% endfor %}
        <br>
         </p>

    <hr>
<h3>Yonalish Qo'shish</h3>
    <br><br>

<form method="post">
        {% csrf_token %}
        <label for="name">Nomi:</label>
        <input type="text" name="nom" id="name" required>
        <br><br>

        <label for="active">Aktiv</label>
        <input type="checkbox" name="aktiv" id="active">
        <br><br>

    <button>Yo'nalish Qo'shish</button>
    </form>
</body>
</html>